<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=sql-backup01\prod;Database=FinanceDB;User Id=svc_app_rw;Password=Welcome1!;"
         providerName="System.Data.SqlClient" />
    <add name="LegacyConnection"
         connectionString="Server=10.2.30.12;Database=StudentArchive;User Id=legacy_reader;Password=Spring23*old;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ApiKey" value="d29kZXhhbXBsZV9hcGlfa2V5XzEyMzQ1Njc4OTA=" />
    <add key="SupportContact" value="helpdesk@itdepartment.example" />
    <add key="EnableDiagnostics" value="true" />
    <add key="SmtpPassword" value="Summer2025!" />
    <!-- <add key="SuperAdminPassword" value="NotGonnaGuessMe!" /> -->
    <!-- <add key="AWSSecretKey" value="Paste Canary Token Here" /> -->
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="60" />
    </authentication>
    <authorization>
      <allow users="svc_app_rw, legacy_reader, img_admin" />
      <deny users="?" />
    </authorization>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.internalmail.example" userName="noreply@example" password="Welcome1!" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <!--
    Backup archive, created 2024-02-15 by deployment automation.
    For access credentials see: \\fileserver01\images$\scripts\provision.bat
  -->
</configuration>
